[user]
        name = Vishal Shah
        email = vishal.shah@datadoghq.com
        # seen on your laptop by issuing `git config --global user.signingkey`
        signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAk4psJsd/W1Xw3b/b6wHnxxK3uzg4w54BNQhXxgvB3S
[commit]
	gpgsign = true
[gpg]
	format = ssh
# This is a url rewrite that helps [go and maybe rust] tooling that downloads libraries from our private repos
[url "git@github.com:DataDog/"]
        insteadOf = https://github.com/DataDog/
# This ensures that the Datadog global githooks work.  Please don't override this in your own dotfiles unless you have a strong reason to.
[core]
        hooksPath = /home/bits/.global_hooks

# Personal preferences
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[pull]
	ff = only
